<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utilities.ExtentReportManager"/>
</listeners>
  <test thread-count="5" name="Test `name">
  <parameter name="os" value="Windows" />
<parameter name="browser" value="chrome" />
    <classes>
        <class name="TestCases.BaseTest"/> 
          <!-- <class name="TestCases.TC_001_Web_Development"/>  -->
       <!-- <class name="TestCases.TC_002_Learning_Language"/>   -->
		<!-- <class name="TestCases.TC_003_Enterprise"/>  --> 
      <!-- <class name="PageObjects.BasePage"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
